/* poll.css */

.hbar {
  width: 70%;
  border-bottom: 1px solid #111;
  margin: 50px auto 40px auto;
}
#poll-wrapper {
  margin-left: auto;
  margin-right: auto;
  margin-top: 8%;
  display: inline-block;
  font-family: Fauna One, sans;
}

#poll-text {
  font-size: 16pt;
  margin-bottom: 35px;
}

#poll-text a {
  text-decoration: none;
  color: #22b;
}
#poll-text a:hover {
  text-decoration: none;
  color: #d11;
}

.ht {
  position: relative;
  top: -4px;
  left: 1px;
  font-size:10pt;
  color:#333;
  border-radius: 3px;
  padding: 2px;
}

.choice-wrapper {
  font-size: 12pt;
  display: inline-block;
  border: 1px solid #333;
  border-bottom: 2px solid #000;
  border-radius: 2px;
  padding: 4px 10px 8px 10px;
  margin: 0px 10px 0px 10px;
  cursor: pointer;
  background-color: #fff;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.choice-wrapper:hover {
  box-shadow: 1px 4px 18px #bbb;
  background-color: #ff6;
}
.choice-text {
  margin: 0px;
  margin-bottom: 5px;
  position: relative;
}
.choice-count {
  font-size: 12pt;
  margin: 0px;
}

.graph {
  margin: auto;
  margin-bottom: 20px;
}
