/* poll.css */

html, body {
  width: 100%;
  height: 100%:
}

body {
  margin: auto;
  text-align: center;
  font-family: Glegoo, sans;
}

#topnav-wrapper {
  border-bottom: 1px solid #000;
  padding: 7px;
  text-align: left;
  font-size: 14pt;
}

#topnav-wrapper span {
}
